
# emacs
*~

# configuration - useful to commit on a team-specific branch,
# but probably confusing to have on master
*.kill-branches.txt

# contains lists of users, instead commit the template
cvs2git.options

# purely for speed optimisation of the checkrevs step
*.known-good.txt
