
# emacs
*~

# configuration - useful to commit on a team-specific branch,
# but probably confusing to have on master
*.kill-branches.txt

# purely for speed optimisation of the checkrevs step
*.known-good.txt
